# Core Deep Learning
torch
torchvision
segmentation-models-pytorch

# Image Processing & Math
numpy
opencv-python
pillow
pydicom

# Visualization & Progress
matplotlib
tqdm

# UI / Dashboard
streamlit